
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* * {
    box-sizing: border-box;
} */


/* Categories */
.content {
    width: 100%;
    height: 100%;
}

#categories {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#categories.active {
    display: none;
}

#categories div {
    display: flex;
    height: 100px;
    width: 100px;
    margin: 12px 12px 12px 12px;
    align-self: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.category-1,
.category-4,
.category-5,
.category-8,
.category-9 {
    background-color: #85848D;
    cursor: pointer;
}

.category-2,
.category-3,
.category-6,
.category-7,
.category-10 {
    background-color: #62616C;
    cursor: pointer;
}

div span {
    font-size: 11px;
    font-family: 'Arial';
    text-transform: uppercase;
    color: #DADADA;
    font-weight: bold;
    width: 100%;
}

#flashcard-lightbox {
    display: none;
    z-index: 1;
    width: 100%;
    height: 80%;
    background-color:rgba(32, 30, 30, 0.575);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#flashcard-lightbox.active {
    display: flex;
}

.flashcard {
    height: 90%;
    width: 65%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.question, .answer {
    height: 40%;
    max-width: 100%;
    margin: 10px;
}

.answer {
    overflow: auto;
}

.question-id, h5 {
    padding: 0;
    margin: 0;
    color: white;
    position: relative;
    bottom: 0;
}

.answer-buttons {
    display: flex;
    height: 10%;
    flex-direction: row;
    justify-content: space-around;
    align-items: bottom;
    width: 100%;
}

.answer-buttons button {
    width: 20%;
}

.close-button {
    width: 100%;
    color:rgb(216, 215, 215);
    font-size: 15px;
    cursor: pointer;
    text-align: right;
}

@media (min-width: 1200px) {
    #categories div {
        height: 200px;
        width: 200px;
    }
}

